.client{
    display: flex;
    flex-direction: column;
    .clientcontainer{
        display: flex;
        .sidebar{
            flex: 1;
        }
        .clientContents{
            flex:7;
        }
    }
}